<log4net>
    <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
        <remoteAddress value="127.0.0.1" />
        <remotePort value="877" />
        <layout type="log4net.Layout.XmlLayout">
            <locationInfo value="true"/>
        </layout>
        <filter type="log4net.Filter.LevelRangeFilter">
            <levelMin value="DEBUG" />
            <levelMax value="FATAL" />
        </filter>
    </appender>

    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
        </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
            <levelMin value="DEBUG" />
            <levelMax value="FATAL" />
        </filter>
    </appender>

    <root>
        <level value="ALL" />
        <appender-ref ref="UdpAppender" />
        <appender-ref ref="TraceAppender" />
    </root>

    <!-- Print only messages of level INFO or above in the package Com.Foo -->
    <logger name="RoboticsTxt.Lib.ControllerDriver.TcpControllerDriver">
        <level value="INFO" />
    </logger>
</log4net>